.list-group-item{
    display: flex;
    justify-content: center;
    border: none;
}

.list-group-item-light{
    color: #003049;
    background-color: transparent;
}

.list-group-item-light:hover{
    background-color: transparent !important;
}


.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.edit-btn-div {
    display: flex;
    justify-content: flex-end;

}

.modal-body {
    height: 650px;
}

.modal-content {
    opacity: 0.9;
    background-color: #E8E5E2;
}

.events-col{
    justify-content: center;
    display: flex;
}


.name-event{
    margin-top: 10px;
    font-size: 18px;
}

/* Col */

.card-motorbike {
    text-align: center;
}

/* List */

.scroll-x{
    overflow-x: scroll;
    height: 260px;
}
.transparent{
    background: transparent;  
}

.center{
    justify-content: center;
    padding: 0;
    margin: 10px auto;
    opacity: 0.8;
    width: 50%;
}


/* ROW */

.profile-row {
    margin-top: 30px;
}

/* Imagenes */

.usermotorbike-img{
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 10px;
    opacity: 0.8;

}

.event-img{
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);
}



.friend-motorbike{
    width: 40px;
    margin-left: 5px;
    display: none;
}

/* Tamaños de letras */

.style-friend{
    font-size: 23px;
}

.compare-title{
    font-size: 22px;
    text-align: center;
}

.style-p{
    font-size: 17px;
    color: #293133;
    margin-top: 20px
}


@media (min-width: 800px){

    .compare-title{
        font-size: 25px;
    }
    .style-p{
        font-size: 24px;
    }
}
