
.details-btn{
    display: flex;
    justify-content: space-between;
}

.col-details{
    margin: 20px 0;
}

.col-img{
    display: flex;
    align-items: center;
}

.btn-back{
    margin: 20px 0;
}
main{
    text-align: left;

}

.btn-edit {
  position: relative;
  color: black;
  width: 150px;
  height: 60px;
  line-height: 64px;
  transition: all 0.3s;
  
}

.btn-edit span {
    transition: all 0.3s;
    transform: scale(1, 1);
  }

.btn-edit::before, .btn-edit::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-edit-details::before {
	left: 4px;
	z-index: 1;
  
  opacity: 0;
  background: rgba(66, 171, 158, 0.3);
  transform: scale(0.1, 1);
}

.btn-edit-details:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-edit-details::after {
  transition: all 0.3s;
  border: 1px solid 
}

.btn-edit-details:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

.comments-list{
  background-color: #E8E5E2;
  margin-top: 5px;
  opacity: 0.8;
}

.comments-group{
  margin-top: 20px;
}