
.details-btn{
    display: flex;
    justify-content: space-between;
}

.col-details{
    margin: 20px 0;
}

.col-img{
    display: flex;
    align-items: center;
}

.btn-back{
    margin-top: 20px;
}